<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Създай Статия</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container py-5">
    <h1 class="mb-4">Създай нова статия</h1>
    <form th:action="@{/articles/create}" method="post" enctype="multipart/form-data" class="mb-5">

        <div class="mb-3">
            <label class="form-label">Заглавие</label>
            <input type="text" class="form-control" name="title" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Описание</label>
            <textarea class="form-control" name="description" rows="3" required></textarea>
        </div>

        <div class="mb-3">
            <label>Категория</label>
            <select name="categoryId" class="form-select">
                <option th:each="cat : ${categories}"
                        th:value="${cat.id}"
                        th:text="${cat.category}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label>Качи снимка</label>
            <input type="file" name="file" class="form-control" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Видимост</label>
            <select class="form-select" name="visibility">
                <option value="PUBLIC">PUBLIC</option>
                <option value="PRIVATE">PRIVATE</option>
            </select>
        </div>

        <div class="mb-3">
            <label class="form-label">Подкатегория</label>
            <input type="text" class="form-control" name="subcategory">
        </div>

        <div class="mb-3">
            <label class="form-label">Калории</label>
            <input type="number" class="form-control" name="calories" min="0">
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Часове</label>
                <input type="number" class="form-control" name="hours" min="0">
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label">Минути</label>
                <input type="number" class="form-control" name="minutes" min="0">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Създай</button>
    </form>
</div>
</body>
</html>
